:root {
  /* Fonts */
  --font-family-primary: 'Roboto';

  /* Colors base */
  --color-white-base: 255, 255, 255;
  --color-gray-base: 179, 193, 209;
  --color-gray-light-base: 246, 248, 252;
  --color-primary-base: 67, 97, 238;
  --color-black-base: 5, 5, 5;
  --color-green-base: 0, 179, 0;

  /* Colors */
  --color-white: rgb(var(--color-white-base));
  --color-gray: rgb(var(--color-gray-base));
  --color-gray-light: rgb(var(--color-gray-light-base));
  --color-primary: rgb(var(--color-primary-base));
  --color-green: rgb(var(--color-green-base));

  --color-black: rgb(var(--color-black-base));
  --color-black-10: rgb(var(--color-black-base), 10%);
  --color-black-20: rgb(var(--color-black-base), 20%);
  --color-black-40: rgb(var(--color-black-base), 40%);
}
